@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #121212; }

.red {
  color: #8F0000; }

.white {
  color: white; }

.backgroundRed {
  background-color: #8F0000; }

.tituloHeader {
  font-family: "Oswald", sans-serif; }

.gridContainerIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr .3fr .5fr 1.3fr;
  grid-template-areas: "portada" "titulo" "vimeo" "infoSpotify"; }

.sectionPortadaIndex {
  grid-area: portada;
  display: flex;
  align-items: flex-start; }

.imgPortadaIndex {
  width: 100%;
  height: 250px;
  object-fit: cover; }

.sectionTitulo,
.divTituloContacto {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif; }

.tituloIndex {
  margin-top: 10px; }

.h2Titulo {
  font-weight: 400; }

.sectionVimeoIndex {
  grid-area: vimeo;
  margin: 0 15px; }

.sectionInfoSpotifyIndex {
  grid-area: infoSpotify;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

h3,
h4,
.tableTour {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.h3InfoIndex {
  text-align: center;
  padding: 25px 0; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100; }

.pInfoIndex {
  text-align: justify;
  padding: 0 50px; }

.divSpotifyIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

a {
  display: flex; }

.divSpotifyImg {
  width: min-content;
  display: flex;
  justify-content: center; }

.imgSpotifyIndex {
  height: 5vh;
  margin-right: 5px;
  transition: all .5s; }

.imgSpotifyIndex:hover {
  transform: scale(1.1); }

.h3SpotifyIndex {
  position: relative;
  text-align: center;
  margin-left: 5px; }

/* DISCOGRAFIA */
.gridContainerDiscografia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .2fr 1fr 1fr .2fr;
  grid-template-areas: "tituloDiscografia" "albumes" "spotify" "texto"; }

.sectionTituloDiscografia {
  grid-area: tituloDiscografia; }

.sectionAlbumesDiscografia {
  grid-area: albumes;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center; }
  .sectionAlbumesDiscografia img {
    width: 95px;
    height: 95px;
    transition: .5s; }
    .sectionAlbumesDiscografia img:hover {
      transform: scale(1.1); }

.sectionSpotifyDiscografia {
  grid-area: spotify;
  margin: 10px 15px; }

.sectionTextoDiscografia {
  grid-area: texto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 0 15px; }

/* INTEGRANTES */
.sectionTituloIntegrantes {
  margin: 10px 0; }

.sectionIntegrantes {
  display: grid;
  grid-gap: 15px;
  margin: 10px 10px 20px 10px; }
  .sectionIntegrantes img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.thomArticle {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .5fr 2fr;
  grid-template-areas: "thomFoto thomTitulo" "thomFoto thomTitulo"; }
  .thomArticle .foto {
    grid-area: thomFoto;
    margin: 0 10px; }
  .thomArticle .nombre {
    grid-area: thomTitulo;
    display: flex;
    justify-content: center;
    align-items: center; }
  .thomArticle .texto {
    grid-area: thomTexto; }

.jonnyArticle {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .5fr 2fr;
  grid-template-areas: "jonnyFoto jonnyTitulo" "jonnyFoto jonnyTitulo"; }
  .jonnyArticle .foto {
    grid-area: jonnyFoto;
    margin: 0 10px; }
  .jonnyArticle .nombre {
    grid-area: jonnyTitulo;
    display: flex;
    justify-content: center;
    align-items: center; }
  .jonnyArticle .texto {
    grid-area: jonnyTexto; }

.edArticle {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .5fr 2fr;
  grid-template-areas: "edFoto edTitulo" "edFoto edTitulo"; }
  .edArticle .foto {
    grid-area: edFoto;
    margin: 0 10px; }
  .edArticle .nombre {
    grid-area: edTitulo;
    display: flex;
    justify-content: center;
    align-items: center; }
  .edArticle .texto {
    grid-area: edTexto; }

.colinArticle {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .5fr 2fr;
  grid-template-areas: "colinFoto colinTitulo" "colinFoto colinTitulo"; }
  .colinArticle .foto {
    grid-area: colinFoto;
    margin: 0 10px; }
  .colinArticle .nombre {
    grid-area: colinTitulo;
    display: flex;
    justify-content: center;
    align-items: center; }
  .colinArticle .texto {
    grid-area: colinTexto; }

.philArticle {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .5fr 2fr;
  grid-template-areas: "philFoto philTitulo" "philFoto philTitulo"; }
  .philArticle .foto {
    grid-area: philFoto;
    margin: 0 10px; }
  .philArticle .nombre {
    grid-area: philTitulo;
    display: flex;
    justify-content: center;
    align-items: center; }
  .philArticle .texto {
    grid-area: philTexto; }

.texto {
  display: none; }

/* TOUR */
.gridContainerTour {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas: "portadaTour" "tituloTour" "tableTour"; }

.sectionPortadaTour {
  grid-area: portadaTour; }

.imgPortadaTour,
.imgPortadaContacto {
  width: 100%; }

.sectionTituloTour {
  grid-area: tituloTour; }

.sectionTableTour {
  grid-area: tableTour;
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.tableTour {
  background-color: #151515;
  width: 90vw;
  height: min-content;
  border: grey solid 1px; }

td {
  max-width: fit-content; }

/* CONTACTO */
.gridContainerContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr .5fr 3fr;
  grid-template-areas: "portadaContacto" "textoContacto" "formContacto"; }

.sectionPortadaContacto {
  grid-area: portadaContacto; }

.imgPortadaContacto {
  width: 100%;
  height: 250px;
  object-fit: cover; }

.sectionTextoContacto {
  grid-area: textoContacto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.h3Contacto {
  display: none; }

.sectionFormContacto {
  grid-area: formContacto; }

label {
  font-family: "Roboto", sans-serif;
  color: white; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .gridContainerIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 1fr 0.8fr;
    grid-template-areas: "portada" "titulo" "vimeo" "infoSpotify"; }
  .sectionVimeoIndex {
    margin: 0 50px; }
  .pInfoIndex {
    font-size: 1.2rem;
    padding: 0 35px; }
  .imgSpotifyIndex {
    height: 8vh; }
  /* Discografía 768px */
  .gridContainerDiscografia {
    grid-template-rows: 1fr 5fr 4fr .7fr; }
  .sectionAlbumesDiscografia {
    margin: 0 50px; }
    .sectionAlbumesDiscografia img {
      width: 150px;
      height: 150px;
      margin: 10px 0; }
  .sectionSpotifyDiscografia {
    display: flex;
    align-items: center;
    margin: 0 25px; }
  .h3DisfrutaTexto,
  .sectionIntegrantes h3 {
    font-size: 1.5rem; }
  /* Integrantes 768px */
  .sectionIntegrantes p {
    margin-top: 30px;
    margin-left: 50px; }
  .sectionIntegrantes h3 {
    font-size: 1.5rem; }
  .thomArticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 2fr;
    grid-template-areas: "thomFoto thomTitulo" "thomFoto thomTexto";
    margin: 0 20px; }
  .jonnyArticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 2fr;
    grid-template-areas: "jonnyFoto jonnyTitulo" "jonnyFoto jonnyTexto";
    margin: 0 20px; }
  .edArticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 2fr;
    grid-template-areas: "edFoto edTitulo" "edFoto edTexto";
    margin: 0 20px; }
  .colinArticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 2fr;
    grid-template-areas: "colinFoto colinTitulo" "colinFoto colinTexto";
    margin: 0 20px; }
  .philArticle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 2fr;
    grid-template-areas: "philFoto philTitulo" "philFoto philTexto";
    margin: 0 20px; }
  .texto {
    display: flex; }
  /* Tour 768px */
  .gridContainerTour {
    grid-template-rows: 1fr 1fr 2fr; }
  /* Contacto 768px */
  .gridContainerContacto {
    grid-template-rows: .5fr 1fr 3fr; }
  .sectionTextoContacto {
    justify-content: space-evenly; }
  .h3Contacto {
    display: block;
    margin: 0 100px;
    text-align: center;
    font-size: 1.3rem; } }

@media screen and (min-width: 992px) {
  .gridContainerIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .2fr 1.2fr;
    gap: 20px;
    grid-template-areas: "portada portada" "titulo titulo" "vimeo infoSpotify"; }
  .imgPortadaIndex {
    height: 300px;
    object-fit: cover; }
  .sectionVimeoIndex {
    margin: 50px 30px; }
  .sectionInfoSpotifyIndex {
    justify-self: start;
    align-self: center; }
  .h3InfoIndex {
    margin: 0 0px; }
  .divSpotifyIndex {
    position: relative;
    right: 50px;
    margin-top: 25px; }
  .imgSpotifyIndex {
    height: 6vh; }
  /* Discografía 992px */
  .gridContainerDiscografia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 20px;
    grid-template-areas: "tituloDiscografia tituloDiscografia" "albumes spotify" "texto texto"; }
  /* Integrantes 992px */
  .sectionIntegrantes {
    grid-template-columns: 1fr 1fr; }
    .sectionIntegrantes img {
      width: 200px;
      height: 200px;
      object-fit: cover; }
  .sectionIntegrantes p {
    margin-top: 0;
    margin-left: 10px; }
  /* Tour 992px */
  .gridContainerTour {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr 1.2fr;
    grid-template-areas: "portadaTour" "tituloTour" "tableTour"; }
  .tableTour {
    width: 70vw; }
  /* Contacto 992px */
  .gridContainerContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas: "portadaContacto portadaContacto" "textoContacto formContacto";
    grid-gap: 50px;
    align-items: start; }
  .h3Contacto {
    position: relative;
    top: 40px; } }
